<!DOCTYPE >
<html>

<head>
    <title>fitrack</title>
    <meta name="description"content="fitness webpage">
    <meta name="keywords"content="fit,fitness,calories,heartrate">
    <meta name="viewport"content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="board.css">
</head>
<body>
    <div class="about-section">
        <h1>Contact Us</h1>
    </div>
    <main>
        <div class="data">
            <div class="address">
                <span class="material-symbols-outlined">location_on</span>
                <div class="middle">
                    <div class="left">
                        <h3>Address</h3>
                    </div>
                </div>
                <small>JNTUHCES, Sulthanpur, Sangareddy</small>
            </div>

            <div class="call_us">
                <span class="material-symbols-outlined">call</span>
                <div class="middle">
                    <div class="left">
                        <h3>Call Us</h3>
                    </div>
                </div>
                <small>9063636312</small>
            </div>

            <div class="email_us">
                <span class="material-symbols-outlined">mail</span>
                <div class="middle">
                    <div class="left">
                        <h3>Email Us</h3>
                    </div>
                </div>
                <small>snigdha.nallathiga@gmail.com </small>
            </div>

            <div class="open_hours">
                <span class="material-symbols-outlined">schedule</span>
                <div class="middle">
                    <div class="left">
                        <h3>Open Hours</h3>
                    </div>
                </div>
                <small>Monday - Friday</small>
                <small>9:30AM - 06:30PM IST</small>
            </div>
        </div>
    </main>
