<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiTrack</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static',filename='home.js') }}"></script>
</head>
<body>
    <section id="header">
        <a href="#"><img src="static/logo.jpg" height="50" width="50" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Get Started</a></li>
            </ul>
        </div>
    </section>

    <section id="imager"></section>

    <section id="bodyer">
            <h2>The Best Investment</h2>
            <h4>You Can Ever Make</h4>
            <h4>Is In Your Own</h4>
            <h2>Health</h2>
            <button><a href="/login">Get Started</a></button>
    </section>

    <section id="feature" class="section-p1">
        <!--<img src="picture.jpg" alt="features" height="300" width="1450">-->
        <div class="fe-box">
            <img src="static/exer.jpg" alt="" height="140" width="138">
            <h6>Exercise</h6>
        </div>
        <div class="fe-box">
            <img src="static/yoga.jpg" alt="" height="140" width="138">
            <h6>Yoga</h6>
        </div>
        <div class="fe-box">
            <img src="static/food.jpg" alt="" height="140" width="138">
            <h6>Diet</h6>
        </div>
        <div class="fe-box">
            <img src="static/med.jpg" alt="" height="140" width="138">
            <h6>Meditation</h6>
        </div>
        <div class="fe-box">
            <img src="static/sleep.jpg" alt="" height="140" width="138">
            <h6>Sleep Cycle</h6>
        </div>
        <div class="fe-box">
            <img src="static/water.jpg" alt="" height="140" width="138">
            <h6>Hydration</h6>
        </div>
    </section>

    <section id="about">
        
    </section>


    
</body>

</html>
 